[class*=" flaticon-"]:after, 
[class*=" flaticon-"]:before, 
[class^=flaticon-]:after, 
[class^=flaticon-]:before {
    margin-left: 0px;
}

.table-people {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #D7D8D8;
    border-spacing: 0px;
    border-radius: 2px;

    caption {
        text-align: left;
        margin-bottom: 5px;
    }

    thead {
        background: #ECF0F3;
        border-bottom: 1px solid #E3E5E8;

        td {
            text-align: right;
            padding: 5px 10px;
        }
    }

    td {
        border-bottom: 1px solid #e3e5e8;
    }
}